.history {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.expand {
    color: #007bff;
    cursor: pointer;
}

.hist-data {
    list-style-type: none;
    padding: 0;
}

.hist-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0 0;
}

.device-info {
    flex: 2;
}

.device {
    font-weight: bold;
    color: #333;
}

.time {
    color: #777;
}

.action-info {
    flex: 1;
    text-align: right;
}

.status {
    font-weight: bold;
}

.on {
    color: green;
}

.off {
    color: red;
}

.user {
    color: #777;
}
